<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spiderverse Tribute</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<>
    <h1>Spiderverse tribute page</h1>
    <p>"Spider-Verse" is a 2014 comic book storyline published by Marvel Comics. It features multiple alternative
        versions of Spider-Man that had appeared in various media, all under attack by Morlun and his family, the
        Inheritors. The last two episodes of Spider-Man: The Animated Series (Spider-Wars) about multiple Spider-Men
        going across dimensions fighting villains, served as inspiration for Spider-Verse. Beginning in August 2014,
        the event was preceded by two new issues of the cancelled The Superior Spider-Man, issues of Spider-Man 2099 and
        a five-issue run of one-shots, all under the Edge of Spider-Verse banner. The series was touted as including
        every single living spider-powered individual created up to that point, though there were several notable
        exceptions, such as the Spider-Man from The Spectacular Spider-Man.</p>
    <h2>Movies</h2>
    <h3>Prelude</h3>
    <p>
        On Earth-311, Peter Parquagh is on stage at the Globe Theater when Morlun appears. Peter attempts to defend
        himself, but Morlun proves too powerful and absorbs Peter's life essence. Before disappearing into another
        dimension, Morlun declares that all spiders will die. Shortly after his death, his universe was destroyed.
        Edge of Spider-Verse
    </p>

    <h3>Edge of Spider-Verse: Superior Spider-Man</h3>
    <p>
        The Superior Spider-Man (Doctor Octopus' mind in Spider-Man's body) is pulled via a time warp into the year
        2099. Superior Spider-Man attempts to return home, but instead transfers to alternate Earths, where he finds the
        bodies of alternate Spider-Men, all slain by similar double-puncture wounds. He decides to assemble an army of
        Spider-Men to fight the killer.

        On Earth-2818, home of the cyborg Spider-Man, the Superior Spider-Man and his new team (Spider-Man Noir, the
        Six-Armed Spider-Man, Spider-Monkey, Ashley Barton and the Assassin Spider-Man) set an ambush for Karn, which
        backfires when Karn reveals he is unaffected by their weapons. The team is only able to escape when Karn's
        brother and sister Brix and Bora arrive, and fight among themselves. Meanwhile, Karn had escaped the little
        incursion between his brother and sister, and hops into another multiverse to kill an Alternate Ai Apeac by
        reminiscing his past life as an Inheritor, and sucking away his life force essence back at him.
    </p>
    <h3>Edge of Spider-Verse: Miniseries</h3>
    <p>
        Earth-90214 is the home of Spider-Man Noir. While battling Mysterio, Spider-Man is attacked by Karn, but saved
        by the timely arrival of the Superior Spider-Man, who takes them back to the year 2099.

        On Earth-65, Gwen Stacy became Spider-Woman, while Peter Parker became the Lizard. Peter died while fighting
        Gwen, and Spider-Woman is blamed for his death by J. Jonah Jameson and her father, Captain George Stacy. She is
        a member of the Mary Janes, a rock band led by Mary Jane Watson. At a gig where her band is playing, an assassin
        makes an attempt on George Stacy's life. Gwen defeats the assassin, but Captain Stacy holds Spider-Woman at
        gunpoint. Gwen is forced to reveal who she is. Shocked, Captain Stacy tells her to leave while she can. The
        events are watched by a British Spider-Man called Spider-UK.

        In a Japanese anime-like universe, Aaron Aikman uses his spider-based powers in an advanced suit of armor to
        become the Spider-Man. Years ago, Aaron's old lover Kaori Ikegami found her daughter brain dead after a car
        accident. Kaori became a recluse, but has now returned claiming that her daughter is awake and possessed by
        something. Kaori's daughter forces her to kidnap people, possessing those people in turn, and now the possessed
        are assembling into an army. Aaron suits up, and begins to head out the door. But Morlun appears, and tells him
        that "this is the end of your story." However, it is unknown if he killed this Spider-Totem or not, when he
        approached him at the door."

        On Earth-51412, Patton Parnell is a disturbed young man who lives with his abusive Uncle Ted. Patton
        "experiments" on animals and spies on his next-door neighbor Sarah Jane. On a trip to Alcorp Industries, Patton
        is bitten by a red spider. Patton gradually exhibits spider-like behavior, trapping several people (including
        Uncle Ted) in webs as food sources. When Sarah Jane comes to Patton's house looking for Gene, Patton kisses her,
        bites her neck, then transforms into a monstrous spider-like creature. Morlun arrives and drains Patton's life
        force, allowing Sarah Jane to escape. The following morning, hundreds of baby black spiders emerge from the bite
        on Sarah Jane's neck.

        And once more, in another Japanese anime-like universe, Peni Parker is a half-Asian school girl whose father
        piloted the robot SP//dr. SP//dr's pilot is chosen by an intelligent radioactive spider who becomes
        mentally-linked to the new pilot. After her father dies in battle, Peni take his place. Peni is recruited by
        Spider-Ham and Old Man Spider (an elderly Spider-Man from Earth-4 who wears the same costume as "Last Stand
        Spider-Man") to join the fight against Morlun and his family.
    </p>
    <h3>Edge of Spider-Verse: Spider-Man 2099</h3>
    <p>
        The Miguel from the Exiles begins having visions when the Destiny War Miguel O'Hara is killed. Miguel prepares
        to flee to Earth-616 where Morlun was once killed. As Morlun kills the Timestorm Spider-Man 2099, Earth-616's
        Miguel (now stuck in the 21st century) begins to feel the deaths as well. Just as the Exiles' Miguel is about to
        make the dimensional jump, Morlun arrives and kills him in front of the Earth-616 Miguel. Hesitant to step into
        Earth-616 as he is afraid of that Earth's Peter Parker, Morlun retreats. Miguel realizes he must find Peter
        Parker.
    </p>
    <p> Edge of Spider-Verse: Amazing Spider-Man

        At the Omniverse, Billy Braddock (a.k.a. Spider-UK) is one of the newest recruits of the Captain Britain Corps.
        Scanning other universes, he has seen the deaths of alternate Spider-Men by the Inheritors: Morlun slays
        Earth-1983 Spider-Man and his teammates the Iceman and Firestar; Bora and Brix arrive on Earth-999 and kill
        Spider-Cat; and on Earth-7831, Daemos kills Spider-Man and several of the animalistic residents of
        Counter-Earth. Daemos' brother Jennix detects Billy watching them; he immediately cuts the scanner feed. As
        Saturnyne and Lady Roma discuss their concerns about the Incursions that are destroying many dimensions,
        Spider-UK tries to explain about the killings of the Spiders across the multiverse. Saturnyne rebuffs him, but a
        sympathetic Roma gives him a talisman that allows him to travel through the web of life in order to save the
        remaining Spiders.

        On Earth-982, Daemos attacks May Parker (Peter Parker's daughter and the heroine known as Spider-Girl). Her
        boyfriend Wes, Peter, and Mary Jane sacrifice themselves in order to save her and her baby brother Ben.
        Spider-UK and Last Stand Spider-Man arrive via portal and take her and Benjy away. May vows to kill Daemos.</p>
    <h2>Which spiders are these?</h2>
    <p>Peter Parker -- 1 and 2</p>
    <p>Miles Morales</p>
    <p>Spider-Gwen</p>
    <p>Spider-Man Noir</p>
    <p>Spider-Ham</p>
    <p>SP//dr (Peni Parker)</p>
    <br><br>
    <p>These are just the most famous Spiders that have appeared in the first cinematic show off about the spiderverse:
        Spiderman into the spiderverse. However, this list is large.

    </p>

    <a href="https://en.wikipedia.org/wiki/Spider-Verse">Click here if you wanna know more about the Spiderverse, the
        movies
        and their characters</a>

    </body>

</html>